<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body class="{% if site.darkmode == true and site.darkmode != 'never' %}dark{% endif %}">

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      {%- include about.html -%}

      {%- if site.data.skills.size > 0 -%}
        {%- include skills.html -%}
      {%- endif -%}

      {%- if site.data.experience.size > 0 -%}
      {%- include experience.html -%}
      {%- endif -%}

      {%- if site.data.projects.size > 0 -%}
      {%- include projects.html -%}
      {%- endif -%}

      {%- if site.data.education.size > 0 -%}
      {%- include education.html -%}
      {%- endif -%}

      {%- if site.data.certifications.size > 0 -%}
      {%- include certifications.html -%}
      {%- endif -%}

      {%- include more.html -%}

    </div>
  </main>

  {%- include footer.html -%}
  {% if site.darkmode == false %}
  <script type="text/javascript">
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add("dark");
      }
  </script>
  {% endif %}

  {% if site.darktoggle == true %}
  <script src="{{ '/assets/js/index.js' | relative_url }}" onload="setupTheme()"></script>
  {% endif %}
{% if site.darktoggle == true %}
<a target="_blank" style="position: fixed; bottom: 20px; right: 20px; " class="button button--sacnite button--round-l text-center" onclick="modifyTheme()">
    <i id="dark-theme-button" class="far fa-lightbulb fa-2x" style="position: sticky; padding-top: 20px;" title="Dark Mode"></i>
</a>
{% endif %}

</body>

</html>
